.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.db
.pytest_cache
.vscode
.idea
bots/
data/
venv/
.env
Dockerfile
streamerbot.sh
update.sh
masc.sh
README.md
LICENSE
docs/
temp/
tmp/
*.log
*.bak
backups/
*.dll
*.7z
